.vehicle-card {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.srp-header {
  background-color: #2d2d2d;
  color: white;
  padding: 40px;
  width: 1800px
}
.survey {
  background-image: url('https://thumbs.dreamstime.com/z/cars-new-car-lot-2736028.jpg');
  background-size: cover;
  min-height: 100vh;
}
.inner-survey{
  background-color: rgba(45, 45, 45, .8);
  color: white;
  padding: 20px;
}
.bg-dark {
  color: white;
  background-color: #680505;
  padding: 30px;
}
h1{
  font-size: 55px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.footer-text{
  font-size: 18px;
}
.modal-title {
  font-size: 21px;
}
